.titreaccroche {
    width: 65%;
}

.rouge {
    color: red;
    -webkit-text-stroke: 2px black;
}

.bleu {
    color: blue;
    -webkit-text-stroke: 2px black;
}

.vert {
    color: green;
    -webkit-text-stroke: 2px black;
}

.cyan {
    color: cyan;
    -webkit-text-stroke: 2px black;
}

.marron {
    color: brown;
    -webkit-text-stroke: 2px black;
}

.rose {
    color: pink;
    -webkit-text-stroke: 2px black;
}

.bsb19 {
    font-family: 'Barlow';
    font-size: 19px;
    font-weight: 600;
}

.post-it,
.eskissestla {
    width: 40%;
    margin: 1rem;
}

.eskissestla {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.post-it1 {
    background-color: white;
    width: 505px;
    padding: 50px 10px 50px 10px;
    border-radius: 41% 59% 31% 69% / 45% 60% 40% 55%  ;
    padding: 100px 50px 100px 50px;
    text-align: center;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.1); 
    box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.1);
   
}

.post-it2 {
    background-color: white;
    width: 505px;
    height: 300px;
    border-radius: 58% 42% 64% 36% / 57% 42% 58% 43%  ;
    padding: 50px;
    text-align: center;
    margin-left: auto;
    padding: 100px 50px 100px 50px;
    margin-top: 180px;
    -webkit-box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.1); 
    box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.1);
}

.post-it3 {
    background-color: white;
    width: 505px;
    padding: 50px 10px 50px 10px;
    border-radius: 37% 63% 62% 38% / 56% 42% 58% 44%   ;
    margin-bottom: 80px;
    padding: 50px;
    text-align: center;
    padding: 100px 50px 100px 50px;
    -webkit-box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.1); 
    box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.1);
}


.lienap {
    font-family: 'Luckiest Guy';
    color: black;
    font-size: 25px;
    text-decoration: underline;
}

.insap {
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.boutoninscription {
    background-color: var(--jaune);
    color: black;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    font-family: 'Barlow';
    font-weight: 700;
    border: black;
    text-decoration: none;
    width: 280px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-self: center;
    border: 3px solid black;
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    box-shadow: 5px 5px 0px 0px #000000;

}

.boutoninscription a {
    color: black;
}

.boutoninscription2 {
    background-color: var(--jaune);
    color: black;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    font-family: 'Barlow';
    font-weight: 700;
    text-decoration: none;
    width: 280px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-self: center;
    border: 3px solid black;
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    box-shadow: 5px 5px 0px 0px #000000;
}

.boutoninscription2 a {
    color: black;
}

.flexpostit {
    display:flex;
    flex-direction:column;
}