.titreaccroche {
    width:65%;
}

.rouge {
color:red;
-webkit-text-stroke:2px black;
}

.bleu {
    color: blue;
    -webkit-text-stroke:2px black;
}

.vert {
    color: green;
    -webkit-text-stroke:2px black;
}
.cyan {
    color: cyan;
    -webkit-text-stroke:2px black;
}

.marron {
    color: brown;
    -webkit-text-stroke:2px black;
}

.rose {
    color: pink;
    -webkit-text-stroke:2px black;
}

.bsb19 {
    font-family: 'Barlow';
    font-size: 19px;
    font-weight: 600;
}

.post-it, .eskissestla{
    width:40%;
    margin:1rem;
}

.post-it1{
width: 505px;
padding: 50px 10px 50px 10px;
margin-bottom: 180px;
position: relative;
background-image: url(../../../assets/img/blob1.svg);
padding: 100px 0px 150px 100px;
position: relative;
    
}

.post-it2{
    width: 505px;
    padding: 50px 10px 50px 10px;
    margin-bottom: 80px;
    position: relative;
    background-image: url(../../../assets/img/blob2.svg);
        
    }

.post-it3{
    width: 505px;
    padding: 50px 10px 50px 10px;
    margin-bottom: 80px;
    position: relative;
    background-image: url(../../../assets/img/blob3.svg);
            
    }
    
.lienap {
    font-family: 'Luckiest Guy';
    color: black;
    font-size: 25px;
    text-decoration: underline;
}

.insap {
   text-align: center;
   align-items: center;
   margin-bottom: 50px;
   display: flex;
   flex-direction: column;
}

.boutoninscription {
    background-color: var(--jaune);
    color: black;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    font-family: 'Barlow';
    font-weight: 700;
    border: black;
    text-decoration: none;
    width: 280px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-self: center;
    border: 3px solid black;
    -webkit-box-shadow: 5px 5px 0px 0px #000000; 
    box-shadow: 5px 5px 0px 0px #000000;

  }
  
  .boutoninscription a {
    color: black;
  }

  .boutoninscription2 {
    background-color: var(--jaune);
    color: black;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    font-family: 'Barlow';
    font-weight: 700;
    text-decoration: none;
    width: 280px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-self: center;
    border: 3px solid black;
    -webkit-box-shadow: 5px 5px 0px 0px #000000; 
    box-shadow: 5px 5px 0px 0px #000000;
  }

  .boutoninscription2 a {
    color: black;
  }

  .blob {
    position: relative;
    background-image: url(../../../assets/img/blob1.svg);
  }