.p404 {
    font-family: 'Barlow';
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.boutonretour {
    background-color: var(--jaune);
    color: black;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    font-family: 'Barlow';
    font-weight: 700;
    border: black;
    text-decoration: none;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 3px solid black;
    -webkit-box-shadow: 5px 5px 0px 0px #000000;
    box-shadow: 5px 5px 0px 0px #000000;
    margin-bottom: 50px;

}

.boutonretour a {
    color: black;
}